<% include partials/head %>
    <div class="container">
        <div class="row">
            <div class="card p-4 mx-auto">
                <a href="/add-product" class="btn btn-primary btn-block btn-lg">Add Product</a>
                <a href="#" class="btn btn-primary btn-block btn-lg">Pagination page</a>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
<% include partials/footer %>

